header {
  background-color: azure;
}

.flex-nav-element {
  color:blue;
}

footer {
  background-color: azure;
}

.flex-footer-element {
  font-size: 30px;
  color: #00FF00;
}

body {
  color :#00FF00;
  background-image: url(fon.png);
  font-size: 20pt;
}
h2 {
  font-size: 40px;
  color:rgb(22, 155, 22);
}

H1 {
font-size :40pt;
color :#32CD32;
text-align: center;
}
#img {
  float:left;  
  width:100px;; 
  height:100px; 
}
#name {
  color: #00FF00; 
  font-size: 40px;
}
.cell {
  background-color: hsl(56, 90%, 73%);
  color:white;
}
.celld {
  background-color: hsl(103, 89%, 72%);
  color:white;
}

table {
  border: 1px solid rgb(15, 175, 29);
  border-collapse: collapse;
}

td, th {
  border: 1px solid ghostwhite;
  text-align: center;
}

  Ol {
    font-size: 20pt;
    color :#00FF00;
  }

@media all and (orientation: landscape), (min-width: 700px) {
 header{
    height:120px;
  }
  
  footer{
    height:120px;
  }
  
  .flex-footer-element{
    font-size: 30px;
  }
}
